name: Build distribution tarballs
on: workflow_dispatch

jobs:
  make-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install build dependencies
        run: |
          sudo add-apt-repository -y ppa:macaulay2/macaulay2
          sudo apt-get install -y 4ti2 autoconf automake bison ca-certificates cohomcalg coinor-csdp fflas-ffpack flex g++ gdbmtool gfan gfortran git install-info libboost-dev libboost-regex-dev libboost-stacktrace-dev libcdd-dev libeigen3-dev libffi-dev libflint-dev libfplll-dev libfrobby-dev libgc-dev libgdbm-dev libgivaro-dev libglpk-dev libgmp-dev libgtest-dev liblzma-dev libmathic-dev libmathicgb-dev libmemtailor-dev libmpfi-dev libmpfr-dev libmps-dev libnauty-dev libncurses-dev libnormaliz-dev libntl-dev libopenblas-dev libpython3-dev libreadline-dev libsingular-dev libtbb-dev libtool-bin libxml2-dev lrslib make msolve nauty normaliz patch pkgconf python3 r-base singular-data time topcom wget zlib1g-dev
      - name: Build Macaulay2
        run: |
          cd M2/BUILD/build
          ../../autogen.sh
          ../../configure --with-system-libs --with-fplll
          make -j$(nproc 2>/dev/null || sysctl -n hw.logicalcpu)
      - name: Make distribution tarballs
        run: |
          cd M2/BUILD/build
          make dist
          make doc-dist
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dist-tarballs
          path: |
            M2/BUILD/build/*.tar.gz
